.topnav {
  width: 100vw;
  height: 60px;
  top: 0;
  left: 0;
  position: absolute;
  padding-left: 5vw;
  padding-right: 5vw;
}

.topnav .topnav-left {
  float: left;
}

.topnav .topnav-right {
  float: right;
}

.topnav .topnav-left .logo-container {
  margin-top: auto;
  margin-bottom: auto;
  display: inline-block;
  text-align: center;
  height: 60px;
}

.topnav .topnav-left .logo-container .logo {
  font-size: 22px;
}

.links {
  display: inline-block;
  text-align: center;
}

.navlink {
  display: inline-block;
  font-size: 14px;
}

.topnav-left .navlink {
  margin-left: 3vw;
}

.topnav-right .navlink {
  margin-right: 3vw;
}
