.google-map {
  width: 75vw;
  height: 26.5em;
  display: inline-block;

  margin-left: 2em;

  overflow: hidden;
}

.map-container {
  width: 75vw;
  height: 26.5em;
}

.google-map-timeline {
  margin-left: 17.5em;
  width: 75vw;
  margin-top: -0.5em;
  background-color: white;
  border-Style: solid;
}

.title {
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: bolder;
  font-size: 12px;
}

.outlined {
  border-Style: solid;
  border-Width: 0.2em;
  border-Color: #3d405b;
  border-Radius: 16px;
  border-bottom-width: 0.5em;
  border-bottom-color: #e07a5f;
  box-shadow: 2px 2px 5px grey;
}

.requests {
  width: 71vw;
  height: 100em;
  margin-left: 17.5em;
  margin-top: 1em;
  background-color: white;
  padding: 1em 2vw;
}

.requests-nav {
  width: 70.6vw;
  height: 3em;
  margin-bottom: 1em;
  border-radius: 16px;
  border-style: solid;
  border-Width: 0.2em;
  border-Color: #3d405b;

  border-bottom-width: 0.5em;
  border-bottom-color: #e07a5f;
  box-shadow: 2px 2px 5px grey;

}
