.opportunityCard-body {
  width: 70.6vw;
  height: 8em;
  border-radius: 16px;
  border-style: solid;
  border-Width: 0.2em;
  border-Color: #3d405b;
  background-color: white;
  margin-bottom: 0.5em;

  cursor: default;
}

.opportunityCard-body:hover {
  border-style: dashed;
  border-color: #e07a5f;
  /*background-color: #f4f1de;*/
}

.opportunityCard-img {
  display: inline-block;
}

.opportunityCard-img img {
  height: 6.5em;
  width: 6.5em;
  border-style: solid;
  border-width: 0.15em;
  border-radius: 16px;

  margin-top: 0.5em;
  margin-left: 0.75vw;
}

.opportunityCard-text {
  height: 6.75em;
  width: 37.5vw;
  margin-left: 1.5vw;
  border-color: #3d405b;
  border-left-style: solid;
  border-right-style: solid;
  border-width: 0.2em;
  display: inline-block;
  vertical-align: text-top;
  margin-top: -5.75em;
  padding-left: 1em;
}

.opportunityCard-text h1, .opportunityCard-text h2, .opportunityCard-text h3 {
  font-family: 'Nanum Gothic', sans-serif;
  margin-top: 0;
}

.opportunityCard-text h1 {
  font-size: 18px;
  line-height: 16px;
}

.opportunityCard-text h2 {
  font-size: 12px;
  color: grey;
  line-height: 12px;
}

.opportunityCard-text h3 {
  font-size: 8px;
  line-height: 8px;
}

.opportunityCard-description {
  display: inline-block;
}

.opportunityCard-info {
  display: inline-block;
  vertical-align: text-bottom;
}

.opportunityCard-info h4 {
  color: white;
  background-color: #81b29a;
  margin: 0.5em;
  padding: 0.5em 1em;
  border-radius: 16px;
  font-size: 12px;
  font-family: 'Oxygen', sans-serif;
}

.opportunityCard-btn {
  display: inline-block;
  height: 6.75em;
  width: 15vw;
  vertical-align: text-top;
  margin-top: -5.75em;
}

.opportunityCard-btn button {
  width: 10vw;
  height: 3.5em;
  margin-top: 0.25em;
  margin-bottom: 0.5em;
  margin-left: 5.25vw;
  margin-right: auto;
  display: block;
}

.view-more {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 2.5em;
}
